<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header") %>
<body>
    <%- include("./partials/nav") %>
    <div class="content">
        <h1 class="title"><%= title %></h1>
        <form method="POST">
            <div class="form-div">
                <label for="username">Username</label><small>(Email Address)</small>
                <!-- Need to add value = " typeof username !== undefined ? email : ''" -->
                <input id="username" type="username" name="username" class="form-input" required>
            </div>
            <div class="form-div">
                <label for="password">Password</label>
                <input id="password" type="password" name="password" class="form-input" required>
            </div>
            <div class="form-btns">
                <button class="btn" type="submit">Submit</button>
                <br/>
                <br/>
                <small>Don't have an account?<a href="/users/register" class="bold">Register</a>with us.</small>
            </div>
        </form>
        <% if (errors.length > 0) { %>
            <ul>
              <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
              <% }); %>
            </ul>
            <% } %>  
    </div> 
</body>
</html>